<nav>
  <a class="button"
     routerLink="/angular-default"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
     Default Angular Homepage
  </a> |
  <a class="button"
     routerLink="/open-ai-prompt"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
     OpenAI Prompt
  </a> |
  <a class="button"
     routerLink="/open-ai-grammar"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
     Grammar correction
  </a>
</nav>
<router-outlet></router-outlet>