
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  mat-card {
    margin: 10px;
    max-width: 500px;
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  p {
    margin: 0;
  }
  
  .page-content {
    display: flex;
    margin: 41px auto 16px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  } 